@import 'node_modules/bootstrap/scss/bootstrap';

body {
  height: 100%;
  margin: 0;

  .header {
    height: 100px;
    padding: 20px;

    h1 {
      line-height: 60px;
    }
  }

  #map {
    height: calc(100vh - 100px);
    width: 100%;
  }
}
