{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container accounts">
  {% if validlink %}
    <h3>Enter new password</h3>

    <form method="post" class="account-form">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-group auth">
        <input type="submit" class="btn btn-success" value="Change password">
      </div>
    </form>
  {% else %}

    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please <a href="{% url 'password_reset' %}">request a new password reset</a>.
    </p>

  {% endif %}

</div>
{% endblock %}
