{% extends 'webapp/base.html' %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container manyfews-forms">

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <h3>Your Alerts</h3>
  {% if alerts %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Alert Type</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Verified</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for alert in alerts %}
        <tr>
          <td>{{ alert.alert_type }}</td>
          <td>{{ alert.phone_number.phone_number }}</td>
          <td>
            {% if alert.verified %}
              Yes
            {% else %}
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verify-modal"
                      data-bs-verify-id="{{ alert.id }}" data-bs-verify-number="{{ alert.phone_number.phone_number }}">
                Verify
              </button>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'alerts' %}/edit/{{ alert.id }}" class="btn btn-secondary">View/Edit</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal" data-bs-delete-id="{{ alert.id }}">
              Delete
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>You have no alerts set up. Click "Add New" to create one.</p>
  {% endif %}

  {% if not edit %}
    <button class="btn btn-primary" type="button" id="add-new" data-bs-toggle="collapse" data-bs-target="#edit-alert" aria-expanded="false" aria-controls="editAlert">
      Add new
    </button>
  {% endif %}

  <div {% if not edit %}class="collapse" {% endif %}id="edit-alert">
    <form method="post" class="alert-form">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Save alert" id="save-alert">
        <a href="{% url 'alerts' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>

</div>

<!-- Delete modal -->
<div class="modal" id="delete-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete alert?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this alert?</p>
      </div>
      <div class="modal-footer">
          <a href="{% url 'alerts' %}/delete/{{ alert.id }}" id="delete-link" class="btn btn-danger">Delete</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Verify modal -->
<div class="modal" id="verify-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verify Phone Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" class="alert-form" action="{% url 'alerts' %}/verify">
        {% csrf_token %}
        <div class="modal-body">
          <p>Verification code has been sent to <span id="verify_modal_phone_number"></span>. Enter it below.</p>
          <input type="number" name="verification_code" class="textinput textInput form-control" id="id_verification_code"></input>
          <input type="hidden" name="alert_id" class="textinput textInput form-control" id="id_alert_id" value=""></input>
        </div>
        <div class="modal-footer">
            <input type="submit" id="verify-submit" class="btn btn-primary" value="Verify">
            <a href="" class="btn btn-secondary" id="verify-resend">Resend Code</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var deleteModal = document.getElementById('delete-modal')
  deleteModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var alert_id = button.getAttribute('data-bs-delete-id');
    var deleteLink = deleteModal.querySelector('#delete-link');
    deleteLink.href = "{% url 'alerts' %}/delete/" + alert_id;
  });

  var verifyModal = document.getElementById('verify-modal')
  verifyModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var phone_number = button.getAttribute('data-bs-verify-number');
    var phone_number_span = verifyModal.querySelector('#verify_modal_phone_number');
    phone_number_span.innerHTML = phone_number;

    var alert_id = button.getAttribute('data-bs-verify-id');
    var id_input = verifyModal.querySelector('#id_alert_id');
    id_input.value = alert_id

    var resend_link = verifyModal.querySelector('#verify-resend');
    resend_link.href = "{% url 'alerts' %}/resend-verification/" + alert_id;
  });
</script>
{% endblock content %}
