{% load static %}
{% load leaflet_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

    <script src="{% static 'index-bundle.js' %}"></script>
    <title>ManyFEWS</title>
</head>

<body>
    <div class="header container-fluid row justify-content-between">
        <div class="col-8 align-self-center">
            <h1 class="row">ManyFEWS</h1>
            <h3 class="row">Flood warnings for Majalaya</h3>
        </div>
        <div class="col-4 align-self-center right">
          {% if user.is_authenticated %}
            <a href="{% url 'alerts' %}" class="btn btn-primary">Alerts</a>
            <a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
          {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
