{% load static %}
{% load leaflet_tags %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/map.css' %}" />
    {% leaflet_js %}
    {% leaflet_css %}

    <script>
        var dataUrl = '{% url "depths" %}';

        window.addEventListener("map:init", function (e) {
          var detail = e.detail;
          fetch(dataUrl)
            .then(function(resp) {
              return resp.json();
            })
            .then(function(data) {
              console.log(data);
              data["items"].forEach(i => {
                L.rectangle(i.bounds, {
                  color: null,
                  fillColor: 'CornflowerBlue',
                  fillOpacity: i.depth * 0.5,
                }).addTo(detail.map);
              });
            });
          }, false
        );

    </script>
</head>

<body>
    <h1>ManyFEWS</h1>
    {% leaflet_map "map" %}
</body>
